<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><%= @source.name %></h5>
      <p class="card-text"><%= @source.content %></p>
    
    
    </div>
  </div>
  
  <button class="btn btn-primary mt-3" id="rewrite-button">Rewrite this source</button>
  
  <div class="rewrite-container">
    
  </div>
</div>
