<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
    <h1 class="mt-3 title"><%= @subject.name %></h1>
    <p>Click on a source to view it and rewrite it</p>
    <ul class="list-group mt-3" id="sources-cont">
      <% @subject.sources.each do |source| %>
        <%= render 'sources/source', source: source, subject: @subject %>
      <% end %>
    </ul>
      <h3 class="mt-5">Add a new source</h3>
      <%= render 'sources/source_form', subject: @subject, source: Source.new %>
    </div>
  </div>
</div>
